<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Vietcetera News Scraper</strong> by <a href="https://github.com/ngavu2712">Anna Vu</a>
      </p>
    </div>
  </div>
</footer>
