<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="background-color: chocolate;">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a style="color: darkslategray;" href="https://github.com/ngavu2712" class="btn-floating btn-fb mx-1">
          <i class="fab fa-2x fa-github"> </i>
        </a>
      </li>
      
     
      <li class="list-inline-item">
        <a style="color: darkslategray;" href="https://www.linkedin.com/in/anna-vu-6a2aba153/" class="btn-floating btn-li mx-1">
          <i class="fab fa-2x fa-linkedin-in"> </i>
        </a>
      </li>
      
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  <strong>Vietcetera News Scraper</strong> by<a href="https://github.com/ngavu2712"> Anna Vu</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->