<div href="/" style="font-size: 50px; background-image:url()"> <strong>Vietcetera</strong></div>
<nav class="navbar" style="background-color: chocolate;">
  <!-- Navbar content -->
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/savedarticle">Saved Articles</a>
  </li>
  <li class="nav-item">
  <button href="/news" id="scrape" type="button" class="btn btn-info" style="font-size: 20px;">Scrape New Article</button> 
     {{!-- <a id="scrape"class="nav-link" href="/articles">Scrape New Articles</a> --}}
  </li>
</ul>
  
    
</nav>
