<div href="/" style="font-size: 50px; color: darkslategray;"> <strong>Vietcetera</strong></div>
<nav class="navbar" style="background-color: chocolate;">
  <!-- Navbar content -->
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a style="color: darkslategray;" class="nav-link" href="/"><i class="fas fa-2x fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a style="color: darkslategray; font-size: 25px;" class="nav-link" href="/saved"><strong>Saved Articles</strong></a>
  </li>
  <li class="nav-item">
  {{!-- <button href="/news" id="scrape" type="button" class="btn btn-info" style="font-size: 20px;">Scrape New Article</button>  --}}
     <a style="color: rgb(241, 241, 241); font-size: 25px; background-color: cadetblue;" id="scrape" class="nav-link " href="/articles"><strong>Scrape New Articles</strong></a>
  </li>
</ul>
  
    
</nav>
